.gridLevel1 {
  height: 420px;
  min-width: 420px;
}

.gridLevel2 {
  height: 560px;
  min-width: 560px;

}

.gridLevel3 {
  height: 700px;
  min-width: 700px;

}

.grid {
  background-color: rgba(36, 41, 49, 0.5);
  display: flex;
  flex-wrap: wrap;
  margin-left: 65px;
  margin-top: 0px;
  background-color: rgba(36, 41, 49, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #0a0a09;
}

.grid div {
  height: 70px;
  width: 70px;
}

h3 {
  font-family: "Titillium Web", "Montserrat", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin:auto
}

.invisible {
  background-color: white;
}

body {
  background-image: url("../pictures/abstract-background-with-3d-spheres_87202-1040.jpg");
  max-width: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 0px;

  /* overflow-x: hidden; */
}


.score-board,
.time-board {
  background-color: rgb(185, 83, 173);
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 100px;
  width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(#9f3cba, #f2adfb);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5) inset, 0 1px 0 #fff;
  color: #ffffff;
  font-size: x-large;
}


/* 
#board {
  margin-left: 70px;

} */
.button {
  width: 270px;
  height: 160px;
  margin-bottom: 0px;
  padding-bottom: 0%;
  /* display: flex; */
  /* flex-direction: column; */
  /* border-right: 0vh; */
  padding-left: 10px;
}

#pic {
  align-items: center;
}

#flex {
  display: flex;
  margin-left: 285px;
}

a {
  margin-bottom: 0px;
  padding-bottom: 0%;
}

#helloUser{
    color: rgb(255, 255, 255);
    margin-left:100px;
    margin-right: auto;
    font-size: 40px;
    -webkit-text-stroke: 2.5px rgb(34, 34, 34);
    width: 1700px;
    text-align: center;
    margin-top:30px;
}

#h1_score {
  margin-right: 0vh;
  margin-left: 58vh;
  width: 800px;
  padding: 0px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fff;
  -webkit-text-stroke: 1.5px rgb(34, 34, 34);
  font-size: 270%;
}
